<% include ../core %>

<body>
    <% include ../navigation %>

    <h2 class="title is-3">Add your pet</h2>

    <form method="POST">

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="name">Name</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" id="name" name="name" value="<%= name %>"/>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="type">Type</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="type" name="type">
                                <% for(const petType in breedsByType){ %>
                                <option <% if(petType===type){ %>selected<% } %>><%= petType %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="breed">Breed</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="breed" name="breed">
                                <% for (const petBreed of breedsByType[type]){ %>
                                <option <% if(petBreed===breed) { %>selected<% } %>><%= petBreed %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="location">Location</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" id="location" name="location" value="<%= location %>"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label">
                <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="button is-primary" type="submit" value="Add my pet!"/>
                    </div>
                    
                    <% for(const error of errors){ %>
                    <p class="help is-danger"><%= error %></p>
                    <% } %>       
                
                </div>
            </div>
        </div>
    </form>
    <% include ../footer %>
    <script>breedsByType=<%-JSON.stringify(breedsByType)%></script>
    <script src="/js/petsCreate.js"></script>
</body>

</html>
